<% remote_form_for :wiki, @wiki,
                   :url => { :controller => 'wikis', :action => 'edit', :id => @project },
                   :builder => TabularFormBuilder,
                   :lang => current_language do |f| %>

<%= error_messages_for 'wiki' %>

<div class="box tabular">
<p><%= f.text_field :start_page, :size => 60, :required => true %><br />
<em><%= l(:text_unallowed_characters) %>: , . / ? ; : |</em></p>
</div>

<%#
# Form to save Redmine Wiki Publisher settings
-%>
<% labelled_tabular_form_for :wiki_publisher_setting, @wiki_publisher_setting, :url => {:controller => 'wiki_publisher_settings', :action => 'update', :project_id => @project, :wiki_publisher_setting_id => @wiki_publisher_setting_id} do |form_wiki_publisher_settings| %>

<div class="box tabular">
<p><%= form_wiki_publisher_settings.text_field :design_repository_url, :size => 60, :required => true %><br />
<em><%= l(:text_unallowed_characters) %>: , . ? ; : |</em></p>
</div>

<% end %>
<%#
# End Form to save Redmine Wiki Publisher settings
-%>


<div class="contextual">
<%= link_to(l(:button_delete), {:controller => 'wikis', :action => 'destroy', :id => @project},
            :class => 'icon icon-del') if @wiki && !@wiki.new_record? %>
</div>

<%= submit_tag((@wiki.nil? || @wiki.new_record?) ? l(:button_create) : l(:button_save)) %>
<% end %>
